//Colors
$black: #121214;
$white: white;
$gray:#DCDCDC;
$beige:#F8F8F8;
$red: #990F02;
$light-red:#990F020D;
$light-black:#252525CC;
$light-white: #FFFFFFCC;
//Spacing
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 64px;



// Breakpoints
$breakpoint-mobile: 502px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 942px;
$breakpoint-desktop: 1024px;
$breakpoint-laptop: 1310px;
